/*!
global > z-index
------------------------------
*/
:root {
  --z-index-default: 1;
  --z-index-loader: 1000;
  --z-index-header: 100;
  --z-index-header-menu-button: 100;
  --z-index-header-menu: 10;
  --z-index-top-kv: 1;
  --z-index-header-overlay: -1;
  --z-index-top-section-break: -1;
  --z-index-top-scroll-parallax-wrap: 1;
  --z-index-top-scroll-parallax-item: -1;
}
